.card {
    margin: 0 auto;
}

.card .carousel-item {
    height: 200px;
}

.card .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: #3d3d3d;
}

.card .carousel-caption h3 {
    color: #3d3d3d;
}

.card .carousel-caption p {
    line-height: 30px;
}

.card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
}

.card .carousel-caption .col-sm-9 {
    text-align: left;
}

.navi a {
    text-decoration: none;
}

a>.ico {
    background-color: grey;
    padding: 10px;
}

a:hover>.ico {
    background-color: #666;
}


/*  */

header,
article,
aside {
    background-color: grey;
}

body {
    font-family: 'Quicksand', sans-serif;
}


/*------Cabecera---------*/

header {
    overflow: hidden;
}


/*---------Titulos-----------*/

h1 {
    width: 100%;
    text-align: center;
}

h2 {}

article,
aside {
    padding: 40px;
}


/*-----Barra navegacion------*/

.menu {
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #028090;
}


/*----------------------------*/


/*------Secciones-------------*/

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}


/*-------------------------------*/

.ejemplo1 img {
    height: 250px;
    width: 250px;
    border-radius: 25%;
}

.ejemplo1 article {
    width: calc(100% - 330px);
}


/*------Seccion Superior------*/

.articulos {
    width: calc(70% - 45px);
}

.blqSuperior aside {
    width: calc(30% - 45px);
}


/*-----------------------------*/

.image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s left cubic-bezier(.64, .57, .67, 1.53);
}

.image:hover img {
    left: 300px;
}

.image img {
    width: 200px;
    height: 200px;
}

.image {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 50px auto 50px;
}

.image figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    display: block;
    background: grey;
    color: white;
    font: 2em/1 "gill sans", sans-serif;
    z-index: -1;
}


/*------Menu Inferior------*/

.menuInf {
    overflow: hidden;
    background-color: #333;
}

.menuInf ul {
    list-style-type: none;
    /*----Sacar puntos de la lista----*/
}


/*-------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
    .articulos {
        width: calc(100% - 10px);
    }
    .blqSuperior aside {
        width: calc(100% - 90px);
    }
    .ejemplo1 article {
        width: calc(100% - 10px);
    }
    .ejemplo1 img {
        position: relative;
        left: calc(50% - 125px);
    }
}