html,
body {
    height: 100%;
}

.wrapper {
    background: lightblue;
    height: 100%;
    position: relative;
}

nav {
    background: coral;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    bottom: auto;
}

.content {
    height: 200%;
    background: wheat;
}